.login-card {
    margin-top: 10rem;
}

.username {
    font-size: 30px;
    margin-right: 4px;
}

.bi-box-arrow-right:hover {
    color: red;
    cursor: pointer;
}

.user-info, .login-info {
    font-family: 'Roboto', sans-serif; 
    font-size: 20px; 
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

pre {
    font-family: 'Open sans', sans-serif; 
    font-size: 15px; 
    white-space: pre-wrap;
}

.note-card-footer {
    display: flex;
    justify-content: space-between;
}